[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
httpie = "*"
ipython = "*"

[packages]
asyncio = "*"
aiohttp = "*"
aiofiles = "*"
aiodns = "*"
click = "*"
requests = "*"
python-dotenv = "*"
